
{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<h2 class="text-primary">  MAPHASA TECH SOLUTIONS</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAPHASA TECH SOLUTIONS</title>
    <link rel="icon" href="/static/images/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


    
    <h4> Executive Summary</h4>
    <p>Maphasa Tech Solutions is a cutting-edge IT company committed to empowering businesses through innovative digital solutions. Our mission is to bridge the gap between technology and business needs by delivering reliable, scalable, and secure services. With a strong foundation in software development, cloud infrastructure, and IT consulting, we provide end-to-end support that helps our clients succeed in an ever-evolving digital world.  </p>

    <img src="/static/images/computers.jpg" alt="Computers" class="img-fluid">

	<h1 class="text-center fw-bold display-4 my-5" style="width: 100%; white-space: nowrap;">Key Personnel</h1>

	<div class="row align-items-center mt-3">
    		<div class="col-md-4 text-center">
        		<img src="{% static 'images/siyabulela.jpg' %}" alt="Siyabulela Headshot" class="img-thumbnail" style="width: 600px;">
    		</div>
    		<div class="col-md-8">
        	<p><strong style="font-size: 1.5rem;">Siyabulela Maphasa – Founder & CEO</strong><br>
        A Visionary leader with over 3 years in Software Engineering and IT project management.Expert in full-stack development and agile methodologies and a certified professional managing multi-cloud infrastructure solutions.CISSP-certified specialist in enterprise-grade security systems.</p>
   		 </div>
	</div>



</div>
</body>
</html>
{% endblock %}
